.menu{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    font-size: 1.2rem;
}

a{
    text-decoration: none;
}

.menu a i{
    margin-right: 0.5rem;
}