
// VARIABILI
// tipi variabili: stringhe, numeri, colori

$primary: #1d7d84;
$leaf: #b6cb89;

$serif-font: Times, serif;
$sans-serif-font: 'Helvetica Neue', Helvetica, sans-serif;

$defPadding: 1rem;
